.home-container {
  text-align: center;
  margin-top: 50px;
}

.start-button {
  padding: 10px 20px;
  font-size: 20px;
}

.game-board {
  margin: 50px auto;
  text-align: center;
}

.answers button {
  display: block;
  margin: 10px auto;
}
